# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=sb_publishable_3Upbp_a0kWy9CdJGJqwzWA_pI0e4k3y
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_secret_G04738BDniFyYyqKjfyF6A_BcZ98TXG
